<nav id="Nav" class="container-fluid navbar bg-dark navbar-dark navbar-expand-lg bg-body-tertiary p-0">
  <div class="container d-flex justify-content-between">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img width="51" height="60" src="assets/images/honey_logo.png" alt="Logo" title="Honey" loading="lazy">
      Honey</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#" [routerLink]="['/']"
            [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/products']" [routerLinkActive]="'active'"
          [routerLinkActiveOptions]="{exact: true}">Our Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#customers">Our Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contatct Us</a>
        </li>
        <ul class="d-flex gap-3 p-0 ms-sm-0 ms-md-4">
          <li class="nav-item">
            <a class="nav-link icon" href="#"><i class="bi bi-search"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link icon" href="#" [routerLink]="['/login']" [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{exact: true}"><i class="bi bi-person-fill"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link icon" href="#"><i class="bi bi-basket-fill"></i></a>
          </li>
        </ul>
      </ul>
    </div>

  </div>
</nav>
