<div class="container row m-auto content d-flex  align-items-center">
  <div class="text col-sm-12 col-md-6 text-light">
    <h1>
      Meet <span>Eat &</span>
      <br>
      Enjoy The true
      taste
    </h1>
    <p class="mt-5 lh-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima iure repellendus obcaecati.
      Error nostrum,
      eaque
      officia sunt quae aspernatur maxime cumque dolorum alias at, officiis ipsa ratione ipsum, libero sit.</p>
  </div>
  <div class="image col-sm-12 col-md-6 d-flex justify-content-center">
    <img loading="lazy" class="w-100" src="assets/images/hero.png" alt="">
  </div>
</div>
